{% extends "common/base.html" %}

{% block page_title %}404 error{% endblock page_title %}

{% block page_content %}
  <div class="jumbotron">
    <div class="container">
      <h1>This link is broken... 404 error</h1>
      <p>The link you have followed is not more available or broken. This error has been reported.</p>
      <p>For more information you can contact us <a href="mailto:canuxcheng@gmail.com">DL-ITOP-MONITORING</a>.</p>
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock footer %}
