{% extends "maintenance.html" %}

{% block page_title %}Integration in production...{% endblock page_title %}

{% block maintenance-content %}
<h1>Integration in production...</h1>
<p class="lead">The <a
  href="http://canuxcheng.com/doc/project/gearman.html#delivery-model"
  target="_blank">Weekly Integration</a> process has been started. Requests <a
  href="http://canuxcheng.com/tracking/issues?query_id=58"
  target="_blank">candidates to enter production</a> are being merged on
Monitoring production systems.</p>

<p>Please be patient, this operation takes 15 minutes to complete.</p>
{% endblock maintenance-content %}
