{% extends "common/base.html" %}

{% block page_title %}Home{% endblock page_title %}

{% block extra_css %}
  <link href="{{ STATIC_URL }}portal/css/portal.css"
        rel="stylesheet">{% endblock %}

{% block page_content %}
  <div class="jumbotron">
    <div class="container">
      <h1>Central Systems Monitoring</h1>

      <p class="lead">This is the home of Monitoring for Datacenters handled by
        <strong>GIS / CS / Monitoring & Reporting</strong>.</p>

      <div class="row">
        <div class="col-md-7">
          <h2>About this site</h2>

          <p>This website serves as an entry point for monitoring, you
            will find the list of applications we are handling to monitor
            Faurecia datacenters that may help you during your day to day
            work.</p>

          <p>Refer to colored labels <span class="label
                    label-success">Public</span>, <span class="label
                    label-primary">Technical</span>, <span class="label
                    label-danger">Management</span> and <span
                  class="label label-info">Helpdesk</span> to help
            you find a
            suitable application.</p>
        </div>
        <div class="col-md-5">
          <a class="btn btn-primary btn-lg btn-block"
             href="http://monitoring-dc.app.corp/doc/requirements.html"><i
                  class="icon-question-sign icon-white"></i> Check requirements
            to monitor IT systems</a>
          <a class="btn btn-success btn-lg btn-block"
             href="http://monitoring-dc.app.corp/tracking/projects/pendingbox/issues/new"><i
                  class="icon-tasks icon-white"></i> Open a request for
            monitoring</a>
        </div>
      </div>
      {% if not user.is_authenticated %}
        <div class="row">
          <div class="col-md-12">
            <h5 class="alert alert-info">
              <strong>Heads up!</strong> If you are not already logged in,
              please
              do it now using the Login button in the top right corner.
              This will ask you also to edit your profile if not already done.
            </h5>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="container">
    <div class="page-header">
      <h2>Main activities
        <small>within the team</small>
      </h2>
    </div>

    <div class="row"> <!--main-->
      <div class="col-md-4">
        <h3>System & Application</h3>

        <div class="thumbnail">
          <a href="/thruk" target="_blank"><img class="img-responsive"
                                                src="{{ STATIC_URL }}portal/img/dashboard_thumb.png"></a>

          <div class="caption">
            <h4>Nagios <span
                    class="pull-right label label-primary">Technical</span></h4>

            <p>An Open Source system and network monitoring application. It
              watches systems and application services that you specify,
              alerting you when things go bad and when they get better.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h3>Faurecia Network</h3>

        <div class="thumbnail">
          <a href="http://orion.app.de.corp/" target="_blank"><img
                  class="img-responsive"
                  src="{{ STATIC_URL }}portal/img/orion_thumb.png" alt=""></a>

          <div class="caption">
            <h4>Orion <span
                    class="pull-right label label-primary">Technical</span></h4>

            <p>Monitors network device and interface availability and
              performance indicators, such as bandwidth utilization, packet
              loss, latency, errors, discards, CPU on router equipments.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h3>Mapping</h3>

        <div class="thumbnail">
          <a href="/visualize"><img class="img-responsive"
                                    src="{{ STATIC_URL }}portal/img/nagvis_thumb.png"
                                    alt=""></a>

          <div class="caption">
            <h4>NagVis <span
                    class="pull-right label label-success">Public</span></h4>

            <p>Visualization addon for Nagios software used to visualize its
              data, e.g. to display IT processes like a mail system, application
              environments or a network infrastructure.</p>
          </div>
        </div>
      </div>
    </div>
    <!--/main-->

    <div class="row"> <!--surround-->
      <div class="col-md-4">
        <h3>Create</h3>

        <div class="col-md-6">
          <div class="thumbnail">
            <a href="/tracking" target="_blank"><img class="img-responsive"
                                                     src="{{ STATIC_URL }}portal/img/redmine_thumb.png"
                                                     alt=""></a>

            <div class="caption">
              <h4>Request Tracker</h4>

              <p>Track requests for Monitoring in Datacenters.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="thumbnail">
            <a href="/git" target="_blank"><img class="img-responsive"
                                                src="{{ STATIC_URL }}portal/img/git_thumb.png"
                                                alt=""></a>

            <div class="caption">
              <h4>Development</h4>

              <p>Contribute or check out source code of some applications
                (plugins, etc...).</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h3>Alert</h3>

        <div class="thumbnail">
          <a href="https://hypervision.app.corp:16311/ibm/console/logon.jsp"
             target="_blank"><img class="img-responsive"
                                  src="{{ STATIC_URL }}portal/img/omnibus_thumb.png"
                                  alt=""></a>

          <div class="caption">
            <h4>Hypervisor <span
                    class="pull-right label label-info">Helpdesk</span></h4>

            <p>The Hypervisor (Omnibus) centralizes all alerts coming from
              Monitoring tools. It is used by Tunisia and China Helpdesks to
              handle incoming alerts.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h3>Learn</h3>

        <div class="col-md-6">
          <div class="thumbnail">
            <a href="/doc"><img class="img-responsive"
                                                src="{{ STATIC_URL }}portal/img/doc_thumb.png"
                                                alt=""></a>

            <div class="caption">
              <h4>Documentation</h4>

              <p>Find here user guides, administration manuals and much more
                !</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="thumbnail">
            <a href="/kb" target="_blank"><img class="img-responsive"
                                               src="{{ STATIC_URL }}portal/img/kb_thumb.png"
                                               alt=""></a>

            <div class="caption">
              <h4>Knowledge Base</h4>

              <p>Store procedure (KB) attached to alerts here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/surround-->

    <div class="page-header">
      <h2>Reporting
        <small>updates for the last key indicators</small>
      </h2>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p>This section shows some web reporting applications about Key
          Performance Indicators.</p>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <a href="{% url "reporting_home" %}"><img class="img-responsive"
                                                    src="{{ STATIC_URL }}portal/img/reporting_thumb.png"
                                                    alt=""></a>

          <div class="caption">
            <h4>Monitoring KPI <span class="pull-right label label-danger">Management</span>
            </h4>

            <p>Show KPIs about Monitoring & Reporting.</p>
          </div>
        </div>
      </div>
    </div>
  </div> <!--/container-->
{% endblock page_content %}
